@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
  }
.title{
  color: var(--color-b7aaaa-bg);
}
  a{
    text-decoration: none;
    display: inline-block;
  }
  :root{
    --color-088178-el-col:#116466;
    --color-navbar-bg-col:rgb(17,100,102,0.90);
    --color-b7aaaa-bg:#d9b080;
    --color-b6aaaa-bg:#979b9c;
    --color-body-bg:#d1e8e2;
  }
  body{
    background-color: var(--color-body-bg);
  }
  .gap-10 {
    gap: 10px;
  }
  .gap-15{
    gap: 15px;
  }
  .gap-30{
    gap: 30px;
  }
  .button{
    background-color: var(--color-088178-el-col);
    color: white;
    font-size: 14px;
    padding: 13px 33px;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
}
  .button:hover{
    background-color: var(--color-b7aaaa-bg);
    color: black;
  }
/* Header part */

.title1{
    color: #2c3531;
}
.title2{
    color: var(--color-b7aaaa-bg);
}
header{
    background-color: var(--color-navbar-bg-col);
}
header ul li{
    font-weight: 600 !important;

}
.signin form button{
  color: var(--color-b7aaaa-bg);
}
